<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
<h1><%= globalPageTitle %></h1>
<script src="/reload/reload.js"></script>

</body>
</html>