<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
<body id="<%= pageId %>">
 
  <h1><%= globalPageTitle %>--<%= pageTitle %></h1>

  <% include partials/content/writers.ejs %>

<!-- <% if(typeof artwork !== "undefined") { %>
  <script src="js/pixlgrid.js"></script>
  
<% } %> -->

<% include partials/template/jsdefaluts.ejs %>

</body>
</html>