<% pageWriters.forEach(function(item) { %>
  <div>
    <% if (pageId !== 'home') { %>
      <h2><%= item.name %></h2>
    <% } else { %>
      <a href="/writers/<%= item.shortname %>"><h2><%= item.name %></a></h2>
    <% } %>
     <% if (pageId !== 'home') { %>
       <p><%= item.biography %></p>
     <% } %>
  </div>
<% }); %>
